Teoría/XML/06-Ejemplos/06-Ejemplos/Python/libros.dtd

<!ELEMENT libros (libro+)>
<!ELEMENT libro  (titulo, autor+, any?, precio, editorial, clasificacion)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT any (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT clasificacion (#PCDATA)>
<!ELEMENT idioma (#PCDATA)>
<!ATTLIST libro isbn ID #REQUIRED>
<!ATTLIST precio moneda CDATA #REQUIRED>