Teoría/XML/05-Ejemplos/05-Ejemplos/alba.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="poema">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="verso" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="autor" type="xs:string" use="required" />
      <xs:attribute name="fecha" type="xs:string" use="required" />
      <xs:attribute name="lugar" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>